* {

  box-sizing: border-box;

}



body {

  font-family: Arial;

  margin: 0;

}


/* Notifications */
.notify {
  height: 50px;
  text-align: center;
  background-color: rgb(33, 11, 109);
  color: white;
}

/* Header */

header {
padding: 40px;
  height: 350px;
  text-align: center;
  background: url('images/motorcycle-photography-composition.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;

}
.home-content {
            background-color: rgba(114, 61, 61, 0.438);
            padding: 40px;
            border-radius: 10px;
        }

 .home-content h1 {
            font-size: 48px;
            margin-bottom: 15px;
            color: rgb(245, 245, 245);
        }

        .home-content p {
            font-size: 18px;
            margin-bottom: 30px;
            color: #e7c500;
            
        }

        .home-content a {
            padding: 10px 20px;
            background: #3ed630;
            color: white;
            text-decoration: none;
            font-size: 18px;
            border-radius: 8px;
            transition: 0.3s;
        }

        .home-content a:hover {
            background: #2fd36e;
        }
/* Top navigation bar */

.navbar {

  display: flex;

  background-color: #000000;
  border: 1px solid white;

}



/* Navigation bar links */

.navbar a {

  color: white;

  padding: 14px 20px;

  text-decoration: none;

  text-align: center;

}



/* Change color on hover */

.navbar a:hover {

  background-color: #7465f5;

  color: black;

}



/* Column container */

.container {  

  display: flex;

  flex-wrap: wrap;

}



/* Sidebar/left column */

.side {

  flex: 30%;

  background-image: linear-gradient(407deg, rgba(85, 85, 85, 0.05) 0%, rgba(85, 85, 85, 0.05) 25%,rgba(11, 11, 11, 0.05) 25%, rgba(11, 11, 11, 0.05) 50%,rgba(182, 182, 182, 0.05) 50%, rgba(182, 182, 182, 0.05) 75%,rgba(28, 28, 28, 0.05) 75%, rgba(28, 28, 28, 0.05) 100%),linear-gradient(490deg, rgba(145, 145, 145, 0.05) 0%, rgba(145, 145, 145, 0.05) 25%,rgba(165, 165, 165, 0.05) 25%, rgba(165, 165, 165, 0.05) 50%,rgba(84, 84, 84, 0.05) 50%, rgba(84, 84, 84, 0.05) 75%,rgba(131, 131, 131, 0.05) 75%, rgba(131, 131, 131, 0.05) 100%),linear-gradient(579deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 25%,rgba(249, 249, 249, 0.05) 25%, rgba(249, 249, 249, 0.05) 50%,rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%,rgba(104, 104, 104, 0.05) 75%, rgba(104, 104, 104, 0.05) 100%),linear-gradient(348deg, rgb(21, 8, 116),rgb(190,6,6));
color: #ddd;
  padding: 10px;

}



/* Main column */

.main {

  flex: 70%;
  color: white;
background-image: radial-gradient(circle at 90% 24%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 50%,rgba(160, 160, 160,0.04) 50%, rgba(160, 160, 160,0.04) 100%),radial-gradient(circle at 91% 63%, rgba(45, 45, 45,0.04) 0%, rgba(45, 45, 45,0.04) 50%,rgba(87, 87, 87,0.04) 50%, rgba(87, 87, 87,0.04) 100%),radial-gradient(circle at 17% 2%, rgba(124, 124, 124,0.04) 0%, rgba(124, 124, 124,0.04) 50%,rgba(117, 117, 117,0.04) 50%, rgba(117, 117, 117,0.04) 100%),linear-gradient(88deg, rgb(33, 20, 105),rgb(1, 15, 13));
  padding: 20px;

}



/* Fake image, just for this example */

.fakeimg {

  background-color: #aaa;
  width: 100%;
  /* padding: 20px; */

}
.sideimg1{
  /* background-color: #aaa; */
  background: url('/images/ChatGPT\ Image\ Feb\ 2\,\ 2026\,\ 05_57_32\ PM.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 360px;
}


/* Footer */

footer {

  padding: 5px;
color: white;
  text-align: center;
background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159));
  /* background: #ddd; */

}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {

  .container, .navbar {   

    flex-direction: column;

  }

}
