* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(circle at 20% 12%, rgba(7, 7, 7,0.24) 0%, rgba(7, 7, 7,0.24) 33.333%,rgba(30, 30, 30,0.24) 33.333%, rgba(30, 30, 30,0.24) 66.666%,rgba(53, 53, 53,0.24) 66.666%, rgba(53, 53, 53,0.24) 99.999%),radial-gradient(circle at 66% 14%, rgba(45, 45, 45,0.2) 0%, rgba(45, 45, 45,0.2) 33.333%,rgba(72, 72, 72,0.2) 33.333%, rgba(72, 72, 72,0.2) 66.666%,rgba(99, 99, 99,0.2) 66.666%, rgba(99, 99, 99,0.2) 99.999%),radial-gradient(circle at 3% 81%, rgba(83, 83, 83,0.16) 0%, rgba(83, 83, 83,0.16) 33.333%,rgba(142, 142, 142,0.16) 33.333%, rgba(142, 142, 142,0.16) 66.666%,rgba(201, 201, 201,0.16) 66.666%, rgba(201, 201, 201,0.16) 99.999%),linear-gradient(45deg, rgb(139, 163, 255),rgb(132, 39, 232));
    color: white;
    padding: 15px 30px;

}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.header nav a:hover {
    color: #f44336;
}

/* Layout */
.container {
    display: flex;
    min-height: calc(100vh - 120px);
    background-image: linear-gradient(90deg, rgb(33,33,33) 0%,transparent 59%),repeating-linear-gradient(45deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

/* Sidebar */
.sidebar {
    width: 240px;
    background-image: radial-gradient(circle at 90% 24%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 50%,rgba(160, 160, 160,0.04) 50%, rgba(160, 160, 160,0.04) 100%),radial-gradient(circle at 91% 63%, rgba(45, 45, 45,0.04) 0%, rgba(45, 45, 45,0.04) 50%,rgba(87, 87, 87,0.04) 50%, rgba(87, 87, 87,0.04) 100%),radial-gradient(circle at 17% 2%, rgba(124, 124, 124,0.04) 0%, rgba(124, 124, 124,0.04) 50%,rgba(117, 117, 117,0.04) 50%, rgba(117, 117, 117,0.04) 100%),linear-gradient(178deg, rgb(33, 20, 105),rgb(1, 15, 13));
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 15px;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 8px;
    background: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
    background: #f81302;
    color: white;
}

/* Content */
.content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Card */
.card {
    width: 240px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h4 {
    padding: 10px;
}

.price {
    padding: 0 10px 15px;
    color: #f44336;
    font-weight: bold;
}

/* Footer */
.footer {
    background-image: radial-gradient(circle at 90% 24%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 50%,rgba(160, 160, 160,0.04) 50%, rgba(160, 160, 160,0.04) 100%),radial-gradient(circle at 91% 63%, rgba(45, 45, 45,0.04) 0%, rgba(45, 45, 45,0.04) 50%,rgba(87, 87, 87,0.04) 50%, rgba(87, 87, 87,0.04) 100%),radial-gradient(circle at 17% 2%, rgba(124, 124, 124,0.04) 0%, rgba(124, 124, 124,0.04) 50%,rgba(117, 117, 117,0.04) 50%, rgba(117, 117, 117,0.04) 100%),linear-gradient(178deg, rgb(33, 20, 105),rgb(1, 15, 13));
    color: white;
    text-align: center;
    padding: 15px;
}
